.attribution {
  font-size: 11px; text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body{

  text-align: center;
  font-size: 18px;
  font-family:'Bai Jamjuree',sans-serif;
}
h1{
  font-size:30px;
  font-weight:600;
  color: hsl(210, 10%, 33%);
}
h2,h3{
 font-size:26px;
  font-weight:600;
  color: hsl(210, 10%, 33%);
}
p{
  font-size:16px;
  font-weight:400;
margin-top: 15px;
  color: hsl(201, 11%, 66%);
}
.first-para{
  font-size:18px;
}
.same-color{
  color: hsl(210, 10%, 33%);
}
.top-background-image{
  width:1349px;
}
.first-div{
position:relative;
bottom: 220px;
}
.clipboard{
margin-bottom:50px;
}
.sub-first-div{
  padding:0 27%;
}

.button-2{

  border-radius:40px;
  background-color: hsl(228, 45%, 44%);
  color:white;

margin:5% 3% 5% 0;
}
.button-1{
    border-radius: 40px;
  background-color:hsl(171, 66%, 44%);
  color:white;

margin:5% 3% 5% 0;
}
.sub-third-div{
  text-align: center;
  margin-top:110px;
  padding:0 27%;
  }
